.clock{
    min-height: 216px;
    background-color: aquamarine;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
    .hidden-clock{
        font-size: 2.5rem;
        text-align: center;

    }
}
@media screen and (max-width: 768px) {
    .clock{
        background-color: blue;
    }
    .hidden-clock{
        font-size: 3rem;
        text-align: center;
        color: white;
    }
}