
.departures {
  // min-height: 216px;
  background-color: #000000;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -5px #000000;
  color: gold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h4{
    text-align: center;
    font-size: 1.2rem;
    padding: .4rem;
    color: cyan;
  }
  .T-bana{
    display: flex;
    flex-direction: column;
    .info-block{
      article{
        display: flex;
        justify-content: space-evenly;
        p{
          // text-align: center;

        }
      }
    }
  }
  .tvärbana{
    display: flex;
    flex-direction: column;
    .info-block{
      article{
        justify-content: space-evenly;
        display: flex;
        p{
          width: fit-content;
          // text-align: center;
        }
      }
    }
  }
}


@media screen and(max-width: 768px){
  .departures{
    padding: 1rem;
    .T-bana{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1rem;
        // gap: 1rem;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        article{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p{
            padding: .3rem;
            text-align: center;
          }
        }
      }
      .tvärbana{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .3rem;
        article{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p{
            padding: .3rem;
          }
        }
          // display: none;

      }
  }

}