
.departures {
  // min-height: 216px;
  background-color: #000000;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -5px #000000;
  color: gold;


  .trackPlace {
    .textTrack {
      position: relative;
      width: 450px;
      overflow: hidden;

      .rollingText {
        position: absolute;
        animation: time 20s linear infinite;
        display: flex;
        justify-content: space-between;


      }

      @keyframes time {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%);
        }
      }
    }
  }
}
