.footer{

    background-color: black;


    p{
        text-align: center;
        padding: .5rem 0rem;
        color: white;
    }
}


@media screen and(max-width: 768px){
    .footer{
        p{
            padding: 1rem 0rem;
        }
    }
 }