.quoto{
    // min-height: 216px;
    background-color: #ccc;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    box-shadow: 5px 5px 15px -5px #000000;

    .headline{
        font-size: 1.2rem;
        margin-top: 0;
    }
    .info, .error{
        padding-top: 2rem;
        font-size: 1rem;
    }
    .error{
        color:red;
    }
}