.showcase{
    background-color:#fff;
    margin: 1rem 2rem 0 2rem;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px -5px #000000;
    img{
        width: 40%;
        height: 50%;
        padding: 0.5rem;
        margin-left: 5rem;
    }
    article{
        width: 50%;

        h1{
            text-transform: capitalize;
        }
        h1,h2,h3,p{
            text-align: center;
            // padding: .25rem 0;
            // font-size:3vh;
            line-height: 4vh;
        }
        .info{
            padding-top: 32px;
            font-size: 1.2vh;
            color: maroon;
        }
    }

}

@media screen and(max-width: 768px){
   .showcase{
       display: flex;
       flex-direction: column;
       height: 100%;
       img{
           width: 100%;
           padding: 2rem .5rem;
           margin: auto;

       }
   }
}